<h2>Select category</h2>
<mat-selection-list role="list" *ngIf="categories$ | async as categories; else loading">
    <ng-container *ngIf="categories.length>0 ;else empty">
    <mat-list-option role="listitem" *ngFor="let item of categories$ | async">{{item}}
    </mat-list-option>
</ng-container>
</mat-selection-list>

<ng-template #loading>
    <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>
<ng-template #empty>
   Oops! There is no data
</ng-template>

<!--
<section *ngIf="categories$ | async as categories; else loading">
 <ng-container *ngIf="categories.length>0 ;else empty">
    <mat-checkbox *ngFor="let item of categories$ | async">{{item}} </mat-checkbox>
</ng-container>
</section>


-->