<mat-form-field appearance="fill" *ngIf="holidays$ | async as holidays; else loading ">
  <mat-label>Choose an option</mat-label>
  <mat-select *ngIf="holidays.length>0;else empty">
    <mat-option *ngFor="let item of holidays$ | async" [value]="item">
     {{item.name}}    
</mat-option>
   </mat-select>
</mat-form-field>
<ng-template #loading>
 <mat-progress-bar
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-bar>
  
</ng-template>
<ng-template #empty>
  Oops! There is not data!
</ng-template>