<h2>Product list</h2>
 <ng-container *ngIf="list$ | async as list">
      <table mat-table [dataSource]="list" class="mat-elevation-z8">         <!-- Column 1 -->
        <ng-container matColumnDef="column1">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"><img src="{{element.image}}" alt=""></td>
        </ng-container>
        <!-- Column 2 -->
        <ng-container matColumnDef="column2">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <!-- Column 2 -->
        <ng-container matColumnDef="column3">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">{{element.category}}&nbsp;</td>
        </ng-container>
        <!-- Column 2 -->
        <ng-container matColumnDef="column4">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element">  {{element.price}}$ </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['column1', 'column2','column3', 'column4']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['column1', 'column2','column3', 'column4'];"></tr>  
      </table>
    </ng-container>


<!-- section>
//categories
  <h2>Select category</h2>
<mat-selection-list role="list">
    <mat-list-option role="listitem" *ngFor="let item of list$ | async">{{item}}
    </mat-list-option></mat-selection-list>




  <mat-checkbox *ngFor="let item of list$ | async">{{item}} </mat-checkbox>
</section>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of list$ | async">
  {{item}}
</button>
</mat-menu>

<mat-list role="list" *ngIf="list$ | async as list; else loading">
  <ng-container *ngIf="list.length>0; else empty">
 
  <mat-list-item role="listitem" *ngFor="let item of list$ | async">{{item.title}} {{item.price}}$
  </mat-list-item>
</ng-container>
</mat-list>
<ng-template #empty>
 Oops! There is not data!
</ng-template>
<ng-template #loading>
<mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>



<mat-list role="list">

  <mat-list-item role="listitem" *ngFor="let item of list$ | async"><img src="{{item.image}}" alt=""> {{item.title}} {{item.price | currency:'USD'}}
  </mat-list-item>

</mat-list>

-->