<h2>Product list</h2>
<mat-list role="list">

  <mat-list-item role="listitem" *ngFor="let item of list$ | async"><img src="{{item.image}}" alt=""> {{item.title}} {{item.price | currency:'USD'}}
  </mat-list-item>

</mat-list>


<!-- section>
//categories
  <h2>Select category</h2>
<mat-selection-list role="list">
    <mat-list-option role="listitem" *ngFor="let item of list$ | async">{{item}}
    </mat-list-option></mat-selection-list>




  <mat-checkbox *ngFor="let item of list$ | async">{{item}} </mat-checkbox>
</section>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of list$ | async">
  {{item}}
</button>
</mat-menu>

<mat-list role="list" *ngIf="list$ | async as list; else loading">
  <ng-container *ngIf="list.length>0; else empty">
 
  <mat-list-item role="listitem" *ngFor="let item of list$ | async">{{item.title}} {{item.price}}$
  </mat-list-item>
</ng-container>
</mat-list>
<ng-template #empty>
 Oops! There is not data!
</ng-template>
<ng-template #loading>
<mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>



-->