<form [formGroup]="productForm" (ngSubmit)="onProductFormSubmitted(productForm)">
  <div><mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Title" formControlName="title" required>
    <mat-error *ngIf="productForm.get('title')!.invalid">title is invalid</mat-error>
  </mat-form-field></div><div><mat-form-field appearance="fill"><mat-label>Description</mat-label>
    <textarea
     matInput type="text" 
     placeholder="Description" 
     formControlName="description" 
     required> </textarea>
    <mat-error *ngIf="productForm.get('description')!.invalid">description is invalid</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" placeholder="Price" formControlName="price" required>
    <mat-error *ngIf="productForm.get('price')!.invalid">price is invalid</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
  <mat-label>Choose an option</mat-label>
  <mat-select formControlName="category">
    <mat-option *ngFor="let item of catgories$ | async" [value]="item">
     {{item}}    
</mat-option>
   </mat-select>
</mat-form-field>
</div>
<div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</div>
</form>









<!-- section>
//categories
  <h2>Select category</h2>
<mat-selection-list role="list">
    <mat-list-option role="listitem" *ngFor="let item of list$ | async">{{item}}
    </mat-list-option></mat-selection-list>




  <mat-checkbox *ngFor="let item of list$ | async">{{item}} </mat-checkbox>
</section>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of list$ | async">
  {{item}}
</button>
</mat-menu>

<mat-list role="list" *ngIf="list$ | async as list; else loading">
  <ng-container *ngIf="list.length>0; else empty">
 
  <mat-list-item role="listitem" *ngFor="let item of list$ | async">{{item.title}} {{item.price}}$
  </mat-list-item>
</ng-container>
</mat-list>
<ng-template #empty>
 Oops! There is not data!
</ng-template>
<ng-template #loading>
<mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>



<mat-list role="list">

  <mat-list-item role="listitem" *ngFor="let item of list$ | async"><img src="{{item.image}}" alt=""> {{item.title}} {{item.price | currency:'USD'}}
  </mat-list-item>

</mat-list>





<h2>Product list</h2>
 <ng-container *ngIf="list$ | async as list">
      <table mat-table [dataSource]="list" class="mat-elevation-z8">        
        <ng-container matColumnDef="column1">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"><img src="{{element.image}}" alt=""></td>
        </ng-container>
      
        <ng-container matColumnDef="column2">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
       
        <ng-container matColumnDef="column3">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">{{element.category}}&nbsp;</td>
        </ng-container>
       
        <ng-container matColumnDef="column4">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element">  {{element.price}}$ </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['column1', 'column2','column3', 'column4']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['column1', 'column2','column3', 'column4'];"></tr>  
      </table>
    </ng-container>
-->